DEBUG=

DB_USER=
DB_PASSWORD=
DB_NAME=

DB_HOST=
DB_PORT=

REDIS_URL=
RABBITMQ_URL=

DJANGO_SECRET_KEY=

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=

INTERNAL_API_SECRET=

DEEPSEEK_API_KEY=

TURNSTILE_SECRET_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=